<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="http://127.0.0.1:8081/nav.css" rel="stylesheet">
<script src="http://127.0.0.1:8081/nav-script.js" type="text/javascript" defer></script>
<style>
    * {
        font-family: Arial;
    }

    .table-ops {
        border: 1px solid black;
        overflow: hidden;
        background-color: #efeaea;
    }

    .table-ops a {
        float: left;
        font-size: 16px;
        color: rgb(0, 0, 0);
        text-align: center;
        text-decoration: none;
        margin: 7px;
    }

    .material-icons {
        font-size: 16px;
        color: #000000;
    }

    .table-data {
        margin: 20px;

    }

    table {
        width: 100%;
    }

    .table-data th,
    .table-data td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .table-data th {
        background-color: #f2f2f2;
    }

    .table-data tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .table-scroll {
        max-height: 300px;
        overflow-y: auto;
    }

    .table-scroll table {
        width: 100%;
        border-collapse: collapse;
    }

    .table-scroll th,
    .table-scroll td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .table-scroll th {
        background-color: #f2f2f2;
    }

    .table-scroll tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<head>
    <title></title>
    <link rel="stylesheet" href="http://127.0.0.1:8081/form.css">
</head>

<body>
    <button id="back_button" onclick='window.history.back();'>Go Back</button>
    <navigation-bar></navigation-bar>
    <div class="container">
        <h1 align="center">
            <%= title %>
        </h1>
        <% if(action=='add' ) { %>
            <div class="cont">
                <form action="/location/add_data" method="post" id="frm">
                    <div class="assetDetails">
                        <label>Floor:</label><br>
                        <input type="text" id="floor" name="floor"><br><br>
                        <label>Building:</label><br>
                        <input type="text" id="building" name="building"><br><br>
                        <label>Area:</label><br>
                        <input type="text" id="area" name="area"><br><br>
                        <label>City:</label><br>
                        <input type="text" id="city" name="city"><br><br>
                        <label>State</label><br>
                        <input type="text" id="state" name="state"><br><br>
                        <label>Country:</label><br>
                        <!-- <select name="country" id="country"></select><br><br> -->
                        <input type="text" id="country" name="country"><br><br>
                        <label>Pincode:</label><br>
                        <input type="text" maxlength="6" minlength="6" id="pin" name="pin"><br><br>
                    </div>
                    <br><br>
                    <button id="b1" type="submit">Add</button>
                </form>
            </div>

            <% } else if(action=='edit' ) { %>
                <div class="cont">
                    <form action="/location/update/<%= data.location_id %>" method="post" id="frm">
                        <div class="assetDetails">
                            <label>Floor:</label><br>
                            <input type="text" id="floor" name="floor" value="" /><br><br>
                            <label>Building:</label><br>
                            <input type="text" id="building" name="building" value="<%= data.building %>"><br><br>
                            <label>Area:</label><br>
                            <input type="text" id="area" name="area" value="<%= data.area %>"><br><br>
                            <label>City:</label><br>
                            <input type="text" id="city" name="city" value="<%= data.city %>"><br><br>
                            <label>State</label><br>
                            <input type="text" id="state" name="state" value="<%= data.state %>"><br><br>
                            <label>Country:</label><br>
                            <!-- <select name="country" id="country"></select><br><br> -->
                            <input type="text" id="country" name="country" value="<%= data.country %>"><br><br>
                            <label>Pincode:</label><br>
                            <input type="text" maxlength="6" minlength="6" id="pin" name="pin"
                                value="<%= data.pincode %>"><br><br>
                        </div>
                        <br><br>
                        <button id="b1" type="submit">Update</button>
                    </form>
                </div>

                <% } else { %>
                    <div class="table-ops">
                        <a href="/location/add">New</a>
                        <a href="">Filter</a>
                        <a href="/home/admin">Home</a>
                        <a href="" class="right" style="float: right;">Export</a>
                    </div>
                    <div class="table-scroll">
                        <div class="table-data">
                            <table border="1">
                                <tr>
                                    <th>ID</th>
                                    <th>Country</th>
                                    <th>State</th>
                                    <th>City</th>
                                    <th>Area</th>
                                    <th>Pincode</th>
                                    <th>Building</th>
                                    <th>Floor</th>
                                    <th colspan="2">Action</th>
                                </tr>
                                <% if(data.length> 0)
                                    {
                                    data.forEach(function(row) { %>
                                    <tr>
                                        <td>
                                            <%= row.location_id %>
                                        </td>
                                        <td>
                                            <%= row.country %>
                                        </td>
                                        <td>
                                            <%= row.state %>
                                        </td>
                                        <td>
                                            <%= row.city %>
                                        </td>
                                        <td>
                                            <%= row.area %>
                                        </td>
                                        <td>
                                            <%= row.pincode %>
                                        </td>
                                        <td>
                                            <%= row.building %>
                                        </td>
                                        <td>
                                            <%= row.floor %>
                                        </td>
                                        <td><a
                                                href="/location/update/<%= row.location_id %>"><button>Update</button></a>
                                        </td>
                                        <td><a
                                                href="/location/delete/<%= row.location_id %>"><button>Delete</button></a>
                                        </td>
                                    </tr>
                                    <% }); } else { %>
                                        <tr colspan="9">No Data Found</tr>
                                        <% }%>

                            </table>
                        </div>
                    </div>
    </div>
    <% } %>
    <script src="C:\\Users\\Abhishek Majumdar\\Documents\\Asset Management App\\views\\validation.js" type="text/javascript" defer></script>

</body>

</html>